* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-layout {
    display: grid;
    grid-template-columns: 10vw auto;
    gap: 1vw;
}

.header {
    border-bottom: 1px grey solid;
}

.aside {
    background-color: cornflowerblue;
    padding: 10px;
    height: 90vh;
}
.aside-sales{
    background-color: cornflowerblue;
    padding: 10px;
    height: 90vh;
}


.aside a {
    display: block;
    color: white;
    text-decoration: none;
}

.main {
    padding: 10px
}

.card-menu {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1vw;
}

.card-menu a {
    text-decoration: none;
}

.card-menu div {
    width: 10vw;
    height: 10vh;
    background-color: coral;
    color: white;
    padding: 5px;
    text-align: center;
}


/* sales */
.aside-sales label{
    color: blue;

}

